/* stylesheet for index */

body {
    background-color: steelblue;
}

#solution {
    display: flex;
    align-self: auto;
    justify-self: auto;
    background-color: whitesmoke;
    
}

#keys {
    display: flex;
    align-self: auto;
    justify-self: auto;
}

button, #keys {
    width: 50px;
    height: 25px;
}
