/* stylesheet for index */

body {
    background-color: steelblue;
}

#calculator {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
    scale: 3.5;
    transform: translateY(50%);
}

#solution {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: whitesmoke;
}

#keys {
    display: flex;
    flex-direction: column;
}

div, #keys {
    justify-items: center;
    display: flex;
}

button, #keys {
    flex: 1;
}

